@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display-swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
  color: #333;
}

.color-primary {
  color: white;
}

.bg-primary {
  background-color: black;
}

.text-center {
  text-align: center;
}

/* Logo */

p {
  margin: 0;
}

.logo {
  position: relative;
  width: 410.39px;
  height: 97.68px;
  display: block;
  margin: auto;
}

.logo-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 78px;
  height: 78px;
}

.app-name {
  position: absolute;
  bottom: 10%;
  left: 22.91%;
  right: -0.15%;
  font-size: 52.25px;
  font-family: Myanmar Khyay, sans-serif;
  font-weight: 900;
  letter-spacing: -4px;
  color: rgba(0, 0, 0, 1);
  width: 350px;
  word-wrap: break-word;
}

.login-page, .create-account-form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login, .create-account {
  background-color: rgb(252, 252, 252);
  max-width: 800px;
  width: 100%;
  min-height: 50vh;
  margin: 0 5vw;
  padding: 1rem 2rem;
  border-radius: 15px;
  box-shadow: 0px 3px 2px 0px rgb(199, 199, 199);
}

input{
  display: block;
  width: 100%;
  border-radius: 12px;
  padding: 1.5em;
}

.btn, input {
  width: 100%;
  font-size: 1rem;
  margin: 1.5em 0;
}

.btn {
  width: fit-content;
  padding: 1.2rem;
  margin: 15px auto;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
}

p, .btn, input {
  font-weight: bolder;
  font-size: 1.5em;
}

.email {
  text-align: center;
}

.create-acc {
  margin: 3em;
  text-align: center;
}