@import url("https://fonts.googleapis.com/css?family=Karla|Cabin|Catamaran");

:root {
  --color-primary: #6930c3;
  --color-secondary: #64DFDF;
  --color-light: #F5EFFF;
  --color-dark: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

*::-webkit-scrollbar-track {
  margin-top: 20px;
  background-color: #6830c356;
}

/* Color */
.text-primary {
  color: var(--color-primary) !important;
}

.dark-grey-text {
  color: #535353;
}
/* Text */ 
.title-text {
  font-weight: bold !important;
}

.body-text {
  font-weight: 300 !important;
  font-family: Cabin, Catamaran, Karla !important;
}

/* font */
h1, h2, h3, h4, h5, h6 {
  font-family: Karla, Cabin, Catamaran !important;
}

button, a, td {
  font-family: Cabin, Catamaran, Karla !important;
}

* {
  font-family: Catamaran, Karla, Cabin !important;
}

/* Logo */

.logo-s1 {
  width: 100px;
}

.logo-s3 {
  width: 40px;
}

/* background */

.dark-bg-image {
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.8);
  background-blend-mode: multiply;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-s3, .logo-s2, .logo-s1 {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-card {
  width: fit-content;
  padding: 20px 40px;
  background-color: rgb(0, 0, 0, 0.7) !important;
}

.form-card-content {
  max-width: 400px;
}

/* nav links */

.full-nav-links a.active button{
  border-bottom: 3px solid var(--color-primary);
  border-radius: 0;
}

.full-nav-links a.active .nav-btn-icon {
  display: block;
}

.full-nav-links a button .nav-btn-icon {
  display: none;
}

.icon-nav-links a.active button {
  background-color: var(--color-primary);
  padding: 7px;
  border-radius: 7px;
}

.icon-nav-links a.active .nav-icon {
  color: white;
}

.icon-nav-links .nav-icon {
  color: var(--color-primary);
}

.side-nav a.active li {
  background-color: var(--color-secondary);
}

/* message-cards */

.messages .sent-message {
  background-color: var(--color-light);
  right: 0;
  border-radius: 20px;
  border-top-right-radius: 0 !important;
  align-self: flex-end;
}

.messages .received-message {
  background-color: var(--color-primary);
  color: white;
  border-radius: 20px;
  border-top-left-radius: 0 !important;
}

.messages .recieved-message .time-sent {
  color: var(--color-light);
}

.messages .sent-message .time-sent {
  color: var(--color-dark);
}

/* Input Fields */

.light-input-field .MuiInputLabel-root {
  color: var(--color-primary);
}

.light-input-field .MuiInputLabel-root.Mui-focused {
  color: white;
}

.light-input-field .MuiInputBase-root {
  color: white;
  color-scheme: dark;
}

.light-input-field .MuiInputBase-root::before {
  border-bottom: 2px solid var(--color-primary);
}

.light-input-field .MuiInputBase-root::after {
  border-bottom: 2px solid white;
}

.primary-focused-color .MuiInputLabel-root.Mui-focused {
  color: var(--color-primary) !important;
}

.primary-focused-color .MuiInputBase-root::after {
  border-bottom: 2px solid var(--color-primary);
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}

.css-obd46d-MuiInputBase-root-MuiOutlinedInput-root {
  outline: 1px solid white;
}

/* button Card */
.button-card {
  width: 150px;
  height: 100px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7) !important;
  background-blend-mode: darken;
  transition: transform 0.5s;
  cursor: pointer;
}

.button-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 3px 2px rgb(168, 168, 168);
}

.button-card .button-card-text {
  font-weight: 400;
  color: white;
  font-size: 16px;
  padding: 0 5px;
  text-align: center;
  text-decoration: underline;
}

.button-card .button-card-icon {
  color: white;
  font-size: 26px;
}

/* modals */
.fs-modal .modal-body {
  background-color: white;
  padding: 10px 17px;
  max-width: 350px;
  width: 100vw;
  height: fit-content;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  outline: none;
  border-radius: 10px;
}

@media screen and (max-width: 400px) {
  .fs-modal .modal-body {
    height: 100vh;
    max-width: 100vw;
    border-radius: 0;
  }
}