@import url("https://fonts.googleapis.com/css?family=Karla|Cabin|Catamaran");

:root {
  --color-primary: #6930c3;
  --color-secondary: #64DFDF;
  --color-light: #F5EFFF;
  --color-dark: #252525;
}

* {
  margin: 0;
  padding: 0;
}


/* Color */
.text-primary {
  color: var(--color-primary) !important;
}

/* Text */ 
.title-text {
  font-weight: bold !important;
}

.body-text {
  font-weight: 300 !important;
  font-family: Cabin, Catamaran, Karla !important;
}

/* font */
h1, h2, h3, h4, h5, h6 {
  font-family: Karla, Cabin, Catamaran !important;
}

button, a, td {
  font-family: Cabin, Catamaran, Karla !important;
}

* {
  font-family: Catamaran, Karla, Cabin !important;
}

/* Logo */

.logo-s1 {
  width: 100px;
}

.logo-s3 {
  width: 40px;
}

/* background */

.dark-bg-image {
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.8);
  background-blend-mode: multiply;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-s3, .logo-s2, .logo-s1 {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-card {
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 40px;
  background-color: rgb(0, 0, 0, 0.7) !important;
}

.form-card-content {
  width: 350px;
  min-width: '';
}

/* nav links */

a.active button{
  border-bottom: 3px solid var(--color-primary);
  border-radius: 0;
}

a.active .nav-btn-icon {
  display: block;
}

a button .nav-btn-icon {
  display: none;
}